# Lab 06

## Introduction to Data Moves (Joining and Merging)

In this assignment, you’ll be introduced to the concept of data moves using functions from the datascience package. You’ll learn how to combine information from multiple tables using joining and merging techniques. These data moves help you enrich a dataset by bringing in new columns from related tables or adding addtional records, making it possible to perform more complex analyses.

## Guidelines

- Follow good programming practices by using descriptive variable names, maintaining appropriate spacing for readability, and adding comments to clarify your code.

- Ensure written responses use correct spelling, complete sentences, and proper grammar.

**Name:**

**Section:**

**Date:**

Let's get started!

### More About the Datascience Package

The `datascience` package is a beginner-friendly Python library developed at UC Berkeley to support its introductory data science course, **Data 8**. It simplifies working with data by providing an easy-to-use `Table` structure, making it accessible to students with little or no programming experience.

The `Table` class functions like a spreadsheet. You can create tables from scratch or load them from CSV files using `Table.read_table()`. Once loaded, tables support a range of operations for analyzing and transforming data.

#### Common `Table` Operations

| Operation        | Method                          | Description                                       |
| ---------------- | ------------------------------- | ------------------------------------------------- |
| Show data        | `table.show(n)`                 | Display first `n` rows                            |
| Select columns   | `table.select('col1', ...)`     | Create new table with selected columns            |
| Drop columns     | `table.drop('col1', ...)`       | Remove specified columns                          |
| Filter rows      | `table.where('col', condition)` | Keep only rows that match a condition             |
| Sort data        | `table.sort('col')`             | Sort rows by a column                             |
| Group by values  | `table.group('col')`            | Group rows and count values                       |
| Aggregate values | `table.group('col', func)`      | Group and apply custom function (e.g., `np.mean`) |
| Join tables      | `table1.join('key', table2)`    | Merge tables based on a common column             |

The package also includes simple charting functions like `.scatter()`, `.barh()`, and `.hist()` that are built on Matplotlib and allow students to visualize data with minimal code.

Underneath the hood, the `datascience` package is built on top of NumPy and Matplotlib which provide numerical computation and plotting capabilities. 

In summary, `datascience` is a great starting point for exploring real data, performing analysis, and creating visualizations with clear and beginner-friendly Python code.

**Question 1.** Import the `datascience` package.

In [ ]:
...

### Merging

The merging data move can also refer to combining multiple tables with the same columns by stacking them on top of each other. In this case, merging means putting all the rows from one table below the rows of another to form a single, longer table.

#### Popular Baby Names Dataset

This dataset contains state-specific data on the relative frequency of given names for individuals issued a Social Security Number in the United States. Data is tabulated from Social Security Administration records as of March 2, 2025. The files include annual birth name frequencies by sex and state, beginning in 1910, for all 50 states and the District of Columbia.

Each file lists names with at least 5 occurrences in a given year to protect individual privacy. Records are sorted by sex, year, and descending frequency, with alphabetical order breaking ties, which enables direct rank determination.

#### Popular Baby Names Datasheet

[Popular Baby Names Datasheet](https://docs.google.com/document/d/1GfDNfOO2sdch4R7AXxcXVZT8UK8UBDND/edit?usp=sharing&ouid=114392569502039217657&rtpof=true&sd=true)

Social Security Administration. (n.d.). Popular baby names: Data limits and exclusions. Retrieved March 2, 2025, from https://www.ssa.gov/oact/babynames/limits.html

The code below loads a subset of state files into separate dataframes. The table that follows shows how each file corresponds to its respective table.

|State|Abbreviation|
|:-----|:------------|
|Indiana| `ind`|
|Michigan| `mi`|
|Ohio| `oh`| 
|Pennsylvania| `penn`|
|North Carolina| `nc`|
|Minnesota| `mn`|
|North Dakota| `nd`|
|South Dakota| `sd`|

In [ ]:
ind = Table.read_table("data/IN.TXT")
mi = Table.read_table("data/MI.TXT")
oh = Table.read_table("data/OH.TXT")
penn = Table.read_table("data/PA.TXT")
nc = Table.read_table("data/NC.TXT")
mn = Table.read_table("data/MN.TXT")
nd = Table.read_table("data/ND.TXT")
sd = Table.read_table("data/SD.TXT")

**Question 2.** Choose and table and print the number of rows, number of columns, and all column labels from the table.

In [ ]:
...

**Question 3.** Display the first 3 rows of the table you chose.

In [ ]:
...

Upon inspection, it appears that the table does not include a header row. To handle this, we can read the data again using functions from the `csv` module. First let's import the module.

**Question 4.** Import the `csv` module.

In [ ]:
...

Now we can read in the data, skipping headers, using the `csv.reader` function. It reads the file line by line and returns each row as a list of strings.

Run the cell below to read in the data from the `NC.TXT` file and display the first 3 rows.

In [ ]:
with open("data/NC.TXT") as f:
    reader = csv.reader(f)
    data = list(reader)
    
data[:3]

Now our data is stored as a nested list. Here's how the nested list looks when shown in a table format.

| State | Sex | Year | Name  | Count |
| ----- | --- | ---- | ----- | ----- |
| NC    | F   | 1910 | Mary  | 837   |
| NC    | F   | 1910 | Annie | 401   |
| NC    | F   | 1910 | Ruth  | 235   |


To build a `Table` from this, we need to transpose it - meaning convert the rows into columns. Specifically, we need to group together all the values that appear in the same position across multiple rows. This allows us to organize the data by column. Specifically, we want to rearrange the data like this:

```python
[
  ['NC', 'NC', 'NC'],         # State
  ['F', 'F', 'F'],            # Sex
  ['1910', '1910', '1910'],   # Year
  ['Mary', 'Annie', 'Ruth'],  # Name
  ['837', '401', '235']       # Count
]
```

TO accomplish this we will complete one step at a time.

**Question 5.** Create a list named `headers` that includes the column names: `'state'`, `'sex'`, `'year'`, `'name'`, and `'count'`.

In [ ]:
headers = ...
headers

Now we will create a separate list for each column — meaning we'll make one list that contains all the first items, another for all the second items, and so on. 

To see an example, run the code below.

In [ ]:
# Create an empty list for the state name
state = []

# Loop over all the rows (nested lists) in data and add
# each first element (index 0) to the state list
for row in data:
    state.append(row[0])

# Display the first 5 elements
state[:5]

**Question 6.** Create lists for the other columns: `'sex'`, `'year'`, `'name'`, and `'count'`.

**Hint:** The year and counts have been read in as strings, but they should be stored as integers.

In [ ]:
sex = []
year = []
name = []
count = []

...

Verify the results by printing the first 5 observations from each list.

In [ ]:
print(sex[:5])
print(year[:5])
print(name[:5])
print(count[:5])

Run the cell below to create the table for `nc`.

In [ ]:
nc = Table().with_columns(
    headers[0], state,
    headers[1], sex,
    headers[2], year,
    headers[3], name,
    headers[4], count
)

nc.show(3)

Run the next two cells to do the same thing for Minnesota.

In [ ]:
def create_state_table(filepath):
    """
    Reads baby name data from a file with no headers and returns a Table
    with columns: 'state', 'sex', 'year', 'name', and 'count'.

    Parameters:
    
    filepath (str): Path to the TXT file.

    Returns:
    
    Table: A datascience Table.
    """
    with open(filepath) as f:
        reader = csv.reader(f)
        data = list(reader)
    
    state = []
    sex = []
    year = []
    name = []
    count = []

    for row in data:
        state.append(row[0])
        sex.append(row[1])
        year.append(int(row[2]))
        name.append(row[3])
        count.append(int(row[4]))

    tbl = Table().with_columns(
        'state', state,
        'sex', sex,
        'year', year,
        'name', name,
        'count', count
    )
    
    return tbl

In [ ]:
mn = create_state_table('data/MN.TXT')
mn.show(3)

**Question 7.** Merge the `nc` table with the `mn` table.

In [ ]:
nc_mn = ...
nc_mn.take(0, -1)

### Joining

The joining data move is a type of merge where you combine two tables using a shared column, known as a key. Instead of stacking rows, joining adds new columns from one table to another by matching rows that have the same value in the key column. This allows you to bring in additional information and enrich your data.

### CEO Compensation Summary Dataset

The data from the AFL-CIO Executive Paywatch database draws from company proxy statements that are filed with the U.S. Securities and Exchange Commission and collected by [pay-gap.com](https://aflcio.org/paywatch/pay-gap.com). The database includes data for some 3,000 corporations, including most of those listed in the Russell 3000 Index. Industry classifications are based on North American Industry Classification System codes.

#### CEO Compensation Summary Datasheet

[CEO Compensation Summary Datasheet](https://docs.google.com/document/d/1AJriZiqMarx8-r4WZwoXoCkFKLEDpq2jt0V6t5_tQLM/edit?usp=drive_link)

AFL-CIO. (n.d.). Highest-Paid CEOs. Retrieved 2022, from https://aflcio.org/paywatch/highest-paid-ceos

In [ ]:
ceo = Table.read_table('data/ceo_compensation_summary.csv')

In [ ]:
ceo.show(3)

### Company Information Dataset

The companies in this dataset come from the AFL-CIO Executive Paywatch database, which compiles data from company proxy statements filed with the U.S. Securities and Exchange Commission and collected by paygap.com. The dataset includes approximately 3,000 corporations, primarily those listed in the Russell 3000 Index, with industry classifications based on North American Industry Classification System (NAICS) codes. To supplement this dataset, additional company information including sector, industry, and market capitalization was collected using the Python yfinance library, which provides streamlined access to company data from Yahoo Finance.

#### Compnay Information Datasheet

[Compnay Information Datasheet](https://docs.google.com/document/d/1t_J1RKSpc8qXhozS8F1K82Ac-429zETQUJXT8PvRCm0/edit?usp=sharing)

Ran, A. (2019). yfinance: Yahoo! Finance market data downloader [Python library]. https://github.com/ranaroussi/yfinance

In [ ]:
company = Table.read_table('data/company_information.csv')

In [ ]:
company.show(3)

Display the column names from the both the `ceo` and the `company` `DtatFrame`.

In [ ]:
print("Columns in the ceo dataframe")
print(ceo.labels)
print("\n")
print("Columns in the company dataframe")
print(company.labels)

We can join the `ceo` and `company` tables using the `ticker` column.

**Question 8.** Join the `ceo` and `company` tables on the `ticker` column.

In [ ]:
ceo_company = ...
ceo_company.show(3)

**Question 9.** What are the top three states with the highest number of companies represented in the dataset?

In [ ]:
...

**Question 10.** Create a table showing the top three states by number of companies. For each state, include the number of companies, the highest CEO stock award value, and the average stock award value.

| State | Number of Companies | Max Stock Award (in millions) | Mean Stock Award (in millions) |
|------:|--------------------:|------------------------------:|-------------------------------:|
| CA    | 527                 | 160.54                        | 5.13975                        |
| TX    | 59                  | 21.5122                       | 3.72992                        |
| NY    | 295                 | 184.999                       | 4.58902                        |

In [ ]:
ca = ...
ny = ...
tx = ...

ca_mean  = ...
tx_mean  = ...
ny_mean  = ...

tbl = ...

tbl

## Submission

Make sure that all cells in your assignment have been executed to display all output, images, and graphs in the final document.

**Note:** Save the assignment before proceeding to download the file.

After downloading, locate the `.ipynb` file and upload **only** this file to Moodle. The assignment will be automatically submitted to Gradescope for grading.