# Lab 02

## Introduction to Python and Built-in Data Strutures

In this assignment, you’ll be introduced to Python and learn how to create, access, and manipulate Python’s built-in data structures.

## Guidelines

- Follow good programming practices by using descriptive variable names, maintaining appropriate spacing for readability, and adding comments to clarify your code.

- Ensure written responses use correct spelling, complete sentences, and proper grammar.

**Name:**

**Section:**

**Date:**

Let's get started!

### Variables

Variables are used to store information in Python programs. To store a value in a variable we use an assignment statement. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right. They are particularly helpful when you need to calculate many different things in a row, and also when you need one value to help calculate another.

- Variable names can contain uppercase and lowercase letters, the digits 0-9, and underscores.

- Variable names can not start with a number.

- Variables names are case sensitive

- Variables that do not have values yet cause errors when called.

### Data Types

- Integer (`int`) is used to store whole numbers (e.g., `3`, `-42`)

- Float (`float`) is used to store numbers with decimals (e.g., `3.14`, `-0.5`)

- String (`str`) is used to store text enclosed in quotes (e.g., `"hello"`, `'data'`)

- Boolean (`bool`) is used to store truth values: `True` or `False`

- None (`NoneType`) is used to represent the absence of a value

**Question 1.** Assign a value to each variable. Be sure to use the appropriate data type based on the comments and the name of the variable.

In [ ]:
# An integer
my_int = ...

# A float (decimal)
my_float = ...

# A string
my_string = ...

# Print output using the print function
print(my_int)
print(my_float)
print(my_string)

**Question 2.** We set a variable `pi` to the value 3.14 and another variable `r` to 5. On a following line, assign the variable `sa` to a Python expression that evaluates to the surface area of a sphere with radius 5. **Do not** use the numbers `3.14` or `5` in your expression for `sa`.

**Hint**: The formula for the surface area of a sphere with radius $r$ is: 

$$\text{Surface Area} = 4 \pi r^2$$

In [ ]:
pi = ...
r = 5

sa = ...
sa

**Question 3.** Use an arithmetic expression to calculate and assign the name seconds_in_a_decade to represent the total number of seconds between midnight January 1, 2020, and midnight January 1, 2030.

In [ ]:
seconds_in_a_decade = ...

# The last line in this cell will print the value
# you've given to seconds_in_a_decade when you run it.  
# You don't need to change this.
seconds_in_a_decade

#### Strings

In Python, **strings** are sequences of characters enclosed in quotes, used to store and manipulate text. You can **concatenate** (join) strings using the `+` operator, which combines them into one longer string. For example, `"Hello, " + "world!"` results in `"Hello, world!"`.

Run the cell below to see another example.

In [ ]:
'Minnesota' + 'Lynx'

If you wanted a space between the city and the team name I can add it to either the first or the second string.

Run the next two cells.

In [ ]:
# Space added tot the first string
'Minnesota ' + 'Lynx'

In [ ]:
# Space added tot the second string
'Minnesota' + ' Lynx'

**Question 4.** Assign your first and last name to the variables listed (`first` & `last`). Then write an expression to concatenate your first and last name and display your fll name with a space between.

In [ ]:
first = ...
last = ...

first + last

### Data Structures

- List

- Tuple

- Dictionary 

#### List

- A list is used to store multiple values in a single value or variable. 

- To create a list use square brackets.

- Lists can contain elements of different types.

- List items are indexed beginning with 0.

Run the code cell below to create a list of 10 colleges in Minnesota.

In [ ]:
colleges_mn = [
    "University of Minnesota-Duluth",
    "Minneapolis College of Art and Design",
    "Southwest Minnesota State University",
    "Capella University",
    "Concordia College at Moorhead",
    "Bethel University",
    "Crown College",
    "Saint Mary's University of Minnesota",
    "Augsburg University",
    "Rasmussen University-Minnesota"
]

In [ ]:
colleges_mn

The first item in the list has index position 0. Run the cell below to see.

In [ ]:
colleges_mn[0]

The second item in the list has index position 1. Run the cell below to see.

In [ ]:
colleges_mn[1]

#### `for` Loop

A `for` loop in Python is used to iterate over a sequence, such as a list, string, etc. It automatically loops through each item in the sequence without needing an explicit counter.

In [ ]:
for name in colleges_mn:
    print(name)

We can also iterate through a list by accessing its elements using their index positions. This allows us to work directly with the indices, which can be useful when both the element and its position are needed.

In [ ]:
# Use the len() function to get the number of elements in 
# the colleges_mn list.
# This will return the total count of words in the list.
len(colleges_mn)

In [ ]:
# The range() function generates a sequence of numbers starting from 0 up to (but not including) 9.
# In this case, it will generate the numbers 0, 1, 2, 3, 4, 5, 6, 7, 8.
range(9)

In [ ]:
# The range() function generates a sequence of numbers from 0 up to (but not including) the 
# length of the random_words list.
# This will create a sequence of indices corresponding to each position in the list random_words.
range(len(colleges_mn))

Iterate over the indices of the random_words list using the range() function and len().

```python
for i in range(len(colleges_mn)):
    print(f"{i:<3} {colleges_mn[i]:<40} {i + 1:>3}")
```

For each iteration, print the current index (`i`), the word at that index in `colleges_mn`, and the index plus 1 (`i + 1`), to display the position in a 1-based format.

| Component              | Meaning                                                              |
| ---------------------- | -------------------------------------------------------------------- |
| `f"..."`               | This is a formatted string literal (`f-`string).                     |
| `{i:<3}`               | Prints `i`, left-aligned in a field 3 characters wide.               |
| `{colleges_mn[i]:<40}` | Prints the college name, left-aligned in a field 40 characters wide. |
| `{i + 1:>3}`           | Prints `i + 1`, right-aligned in a field 3 characters wide.          |

Run the code below.

In [ ]:
for i in range(len(colleges_mn)):
    print(f"{i:<3} {colleges_mn[i]:<40} {i + 1:>3}")

Lists are a versatile data structure in Python that allow us to store and manipulate collections of data. This list below represents information about the University of Minnesota-Twin Cities.

In [ ]:
um_tc = [
    "University of Minnesota-Twin Cities",
    "Minneapolis",
    16.75,
    1.7,
    "Graduate",
    "Public",
    "No",
    69.64
]

**Question 5.** Write a `for` loop to iterate over all the values in the `um_tc` list.

In [ ]:
...

We see that this list contains both numbers and strings. However, there is no information about what each value represents. To add this information to our list we can use a nested listed

#### Nested Lists

In Python, nested lists are lists that contain other lists as their elements, allowing you to create multi-dimensional structures like matrices or tables. You can access elements in a nested list using multiple indices, for example, `my_list[0][1]` accesses the second element of the first inner list.

In [ ]:
colleges_list = [
    ['name', 'city', 'median_debt', 'default_rate', 'highest_degree', 'ownership', 'hbcu', 'admit_rate'],
    ["University of Minnesota-Twin Cities", "Minneapolis", 16.75, 16.75, 1.7, "Graduate", "Public", "No", 69.64]
]

**Question 6.** Write a `for` loop to iterate over all the values in `colleges_list` and display the contents like this:

```python
name: University of Minnesota-Twin Cities
city: Minneapolis
median_debt: 16.75
default_rate: 1.7
highest_degree: Graduate
ownership: Public
hbcu: No
admit_rate: 69.64
```

**Hint:** Your data is a nested list where one list for the headers and one list for the row of data. Use indexing to grab each one:

- `colleges_list[0]` is the first list, which contains the column names (`headers`).
- `colleges_list[1]` is the second list, which contains the values (`row`).

In [ ]:
headers = ...
row = ...

...

#### Tuple

- A tuple is used to store multiple values in a single value or variable. 

- To create a tuple use parenthesis.

- Tuples can contain elements of different types.

- Tuple items are indexed beginning with 0.

In [1]:
colleges_tup = ("University of Minnesota-Twin Cities", "Minneapolis", "Minnesota Golden Gophers")
colleges_tup

('University of Minnesota-Twin Cities',
 'Minneapolis',
 'Minnesota Golden Gophers')

**Question 7.** Access the last value in `colleges_tup`.

In [2]:
...

'Minnesota Golden Gophers'

#### Dictionary

- A collection of key-value pairs.

- A key is used to look up values.

- A value can be numbers, strings, lists, or even other dictionaries.

In [ ]:
colleges_dict = {
    'name': 'University of Minnesota-Twin Cities',
    'city': 'Minneapolis',
    'median_debt': 16.75,
    'default_rate': 1.7,
    'highest_degree': 'Graduate',
    'ownership': 'Public',
    'hbcu': 'No',
    'admit_rate': 69.64
}

colleges_dict

We use the key to access values in a dictionary. For example,

```python
colleges_dict['name']
```

returns `'University of Minnesota-Twin Cities'`

We can access all the keys with the `.keys()` method and we can access all the values with the `.values()` method.

In [ ]:
colleges_dict.keys()

In [ ]:
colleges_dict.values()

**Question 8.** Write a `for` loop to iterate over all the values in `colleges_dict` and display the contents like this:

```
 'name': 'University of Minnesota-Twin Cities',
 'city': 'Minneapolis',
 'median_debt': 16.75,
 'default_rate': 1.7,
 'highest_degree': 'Graduate',
 'ownership': 'Public',
 'hbcu': 'No',
 'admit_rate': 69.64
```

In [ ]:
...

When the U.S. Department of Education collects data from colleges and universities, each institution is assigned a unique identifier code. You can explore the full list of institutions and their data at [College Scorecard](https://collegescorecard.ed.gov/). For this example, we’ve selected three universities to work with.

In [ ]:
colleges_mn_dict = {
    905800: {
        'name': 'Bethel University',
        'city': 'Saint Paul',
        'median_debt': 17.827,
        'default_rate': 1.9,
        'highest_degree': 'Graduate',
        'ownership': 'Private nonprofit',
        'admit_rate': 86.63
    },
    236000: {
        'name': 'Minnesota State University-Mankato',
        'city': 'Mankato',
        'median_debt': 14.995,
        'default_rate': 3.6,
        'highest_degree': 'Graduate',
        'ownership': 'Public',
        'admit_rate': 67.26
    },
    396900: {
        'name': 'University of Minnesota-Twin Cities',
        'city': 'Minneapolis',
        'median_debt': 16.75,
        'default_rate': 1.7,
        'highest_degree': 'Graduate',
        'ownership': 'Public',
        'admit_rate': 69.64
    }
}

**Question 9.** Use code to determine the mean admission rate for all three colleges in `colleges_mn_dict`.

In [ ]:
...

**Question 10.** Use code to determine the maximum default rate amonget all three colleges in `colleges_mn_dict`.

In [ ]:
...

## Submission

Make sure that all cells in your assignment have been executed to display all output, images, and graphs in the final document.

**Note:** Save the assignment before proceeding to download the file.

After downloading, locate the `.ipynb` file and upload **only** this file to Moodle. The assignment will be automatically submitted to Gradescope for grading.